.row{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 315px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
}

.c1{
    background-color: #8A2BE2;
}

.c2{
    background-color: black;
}

.c3{
    background-color: green;
}

.c4{
    background-color: blue;
}

.chip{
    width: 50px;
    padding-top: 35px;
    margin-left: -5px;
}

.num{
    font-weight: 200;
    font-size: 25px;
    /* text-align: left; */
    padding-bottom: 0px;
    margin: 0px;
    margin-top: -5px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    /* margin: 0px; */
    font-family: monospace;
}

.val{
    font-size: 9px;
    font-family: 'Tahoma', sans-serif;
}

.date{
    font-family: 'Tahoma', sans-serif;
}

.payment{
    width: 90px;
    margin-left: 210px;
    margin-top: -50px;
    padding-bottom: 15px;
}

.banc-name, span{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 190px;
    margin-top: -60px;
}
span{
    font-size: 14px;
    display:block;
    color: darkgray;
    margin-top: -20px;
    margin-bottom: 20px;
}

.tinkimg{
    width: 160px;
    margin: 0px 0px 15px 70px;
}

.cberimg{
    width: 160px;
    margin: 0px 0px 1px 70px;
}

#btbimg{
    width: 110px;
    margin: 0px 0px 15px 120px;
}

.spider{
    width: 100px;
    height: 100px;
}